.slide-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    border: 2px solid #31b675;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    text-align: center;
  }
  
  .container h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .container span {
    display: block;
    margin-bottom: 30px;
    color: grey;
  }
  
  .flex_space {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    padding: 10px;
    width: 48%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    padding: 10px 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .notification-popup {
    background-color: white;
    color: green;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .notification-popup h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .notification-popup p {
    margin-bottom: 10px;
  }
  
  .notification-popup button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .flex_space {
      flex-direction: column;
    }
  
    input[type="text"],
    input[type="number"],
    input[type="date"] {
      width: 100%;
    }
  }
  